<?xml version="1.0" encoding="utf-8"?>
<xparam>
	<Item>
		<ID>default</ID>
		<theme>Аватар по умолчанию</theme>
		<url>http://www.taobao.com/wwfiles/sysportrait/1.zip</url>
	</Item>
	<Item>
		<ID>constellation</ID>
		<theme>Двенадцать созвездий</theme>
		<url>http://www.taobao.com/wwfiles/sysportrait/2.zip</url>
	</Item>
</xparam>
